/***************************************************************
Website: 
Author: Terry Price #0622422
Date: 

----------------------------------------------------------------
Colours
 
----------------------------------------------------------------
Font Styles

----------------------------------------------------------------
Contents
----------------------------------------------------------------
1.Body Styles
2.Heading Styles
3.Nav Styles
4.List Styles
5.Paragraph Styles
6.Section Styles
7.Img Styles
8.Misc Styles
***************************************************************/

/***************************************************************
*****BODY STYLES***********************************************/

/***************************************************************
*****HEADING STYLES********************************************/
h2 {
	text-decoration: underline;
}

h2:not(:first-of-type) {
	font-size: 2em;
	text-align: center;
}

section:last-of-type article h3 {
	padding-top: 2em;
}

/***************************************************************
*****NAV STYLES************************************************/
nav {
	display: block;
	background-color: black;
	width: 100%;
	padding: 2em 0;
}
/***************************************************************
*****LIST STYLES***********************************************/
ul {
	display: block;
	margin: 1em;
}

ul li {
	font-size: 2em;
	list-style-type: circle;
	list-style-position:inside;
}

ul:last-of-type {
	margin-bottom: 2em;
}

/***************************************************************
*****PARAGRAPH STYLES******************************************/
p {
	display: block;
	font-size: 2em;
	width: 75%;
	margin: 1em auto;
}

main > section:first-of-type p {
	text-align: center;
	width: 75%;
	margin-bottom: 2em;
}

section:nth-of-type(2) p {
	margin: 0 auto;
}

section:last-of-type article > h2 + p {
	display: block;
	text-align: center;
	margin: 0 auto;
}
/***************************************************************
*****SECTION STYLES********************************************/

section {
	display: inline-block;
	box-sizing: border-box;
	width: 50%;
	float: left;
}

article {
	width: 100%;
	box-sizing: border-box;
	margin: 1em auto;
}

main > section:first-of-type {
	display: block;
	width: 100%;
}

section:nth-of-type(2) article {
	width: 100%;
	height: 781px;
	overflow: scroll;
}

section:nth-of-type(3) article {
	padding-left: 20px;
}

section:last-of-type {
	display: inline-block;
	width: 100%;
	float: right;
	clear: both;
}
/***************************************************************
*****IMG STYLES************************************************/
figure {
	display: block;
	width: 100%;
	margin-top: 40px;
}

figcaption {
	text-align: center;
}

img {
	display: block;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 0;
	clear: both;
}

section:nth-of-type(4) article:first-of-type img {
	position: relative;
	width: 10%;
	transition: 0.8s;
}

section:nth-of-type(4) article:first-of-type figure:last-of-type img {
	width: 20%;
}

section:nth-of-type(4) article:first-of-type img:hover {
	transform: scale(2);
}

section:last-of-type article:last-of-type img:nth-of-type(2) {
	transform: rotate(10deg);
	padding-bottom: 1.5em;
}

section:last-of-type article:last-of-type img:nth-of-type(2n+1){
	transform: rotate(-10deg);
}

/***************************************************************
*****MISC STYLES***********************************************/


@media screen and (max-width: 480px) {
	section {
		width: 100%;
		float: none;
	}
	
	section:nth-of-type(2) article {
	width: 100%;
	height: auto;
	overflow: visible;
	}
	
	img {
		width: 50%;
	}
	
	section:nth-of-type(4) article:first-of-type img {
	position: relative;
	width: 50%;
	transition: 0.8s;
}
	
	section:nth-of-type(4) article:first-of-type figure:last-of-type img {
	width: 50%;
}

section:nth-of-type(4) article:first-of-type img:hover {
	transform: none;
}
}