/***************************************************************
Website: 
Author: Terry Price #0622422
Date: 

----------------------------------------------------------------
Colours
 
----------------------------------------------------------------
Font Styles

----------------------------------------------------------------
Contents
----------------------------------------------------------------
1.Body Styles
2.Heading Styles
3.Nav Styles
4.List Styles
5.Paragraph Styles
6.Section Styles
7.Img Styles
8.Misc Styles
***************************************************************/

/***************************************************************
*****BODY STYLES***********************************************/

/***************************************************************
*****HEADING STYLES********************************************/

/***************************************************************
*****NAV STYLES************************************************/

/***************************************************************
*****LIST STYLES***********************************************/

/***************************************************************
*****PARAGRAPH STYLES******************************************/
p {
	display: inline-block;
	float: left;
	width: 40%;
	margin: 0 auto;
	padding-bottom: 2em;
}

/***************************************************************
*****SECTION STYLES********************************************/
section {
	display: inline-block;
	width: 100%;
	
}
/***************************************************************
*****IMG STYLES************************************************/
figure {
	display: inline-block;
	position: relative;
	width: 50%;
	float: left;
}

img {
	display: block;
	width: inherit;
	margin: 0 auto;
}
/***************************************************************
*****MISC STYLES***********************************************/


@media screen and (max-width: 920px){
	section {
		display: block;
	}
	
	figure {
		display: block;
		width: 100%;
	}
	
	img {
		width: 50%;
		padding-bottom: 3em;
	}
	
	p {
		display: block;
		width: 50%;
		margin: 0 auto;
		float: none;
	}
}

@media screen and (max-width: 480px) {
	figure {
		display: inline-block;
		width: 100%;
	}
	
	img {
		width: 50%;
		margin: 0 auto;
	}
	
	p {
		width: 100%;
		font-size: 1em;
		padding: 0 20px;
	}
	
}