/***************************************************************
Website: 
Author: Terry Price #0622422
Date: 

----------------------------------------------------------------
Colours
 
----------------------------------------------------------------
Font Styles

----------------------------------------------------------------
Contents
----------------------------------------------------------------
1.Body Styles
2.Heading Styles
3.Nav Styles
4.List Styles
5.Paragraph Styles
6.Section Styles
7.Img Styles
8.Misc Styles
***************************************************************/

/***************************************************************
*****BODY STYLES***********************************************/

/***************************************************************
*****HEADING STYLES********************************************/

/***************************************************************
*****NAV STYLES************************************************/

/***************************************************************
*****LIST STYLES***********************************************/

/***************************************************************
*****PARAGRAPH STYLES******************************************/
p {
	display: block;
	float: right;
	width: 45%;
	margin: 0 auto;
}

p + p {
	padding-top: 3em;
}

section:first-of-type p {
	font-size: 3em;
	width: 75%;
	float: none;
}

section:last-of-type p {
	float: none;
	width: 75%;
	margin: 0 auto;
	clear: both;
}
/***************************************************************
*****SECTION STYLES********************************************/
section {
	clear: both;
}
/***************************************************************
*****IMG STYLES************************************************/
img {
	display: block;
	float: left;
	width: 40%;
	transition: transform 0.2s;
}

img:hover {
	transform: scale(1.5);
	transform-origin: -75% 118%;
}

video {
	display: block;
	width: 40%;
	float: left;
}
/***************************************************************
*****MISC STYLES***********************************************/


@media screen and (max-width: 480px) {
	p {
		float: none;
		width: 90%;
	}
	
	section:first-of-type p {
		width: 90%;
	}
	
	img {
		float: none;
		width: 90%;
		margin: 0 auto;
		padding-bottom: 2em;
	}
	
	video {
		width: 75%;
		float: none;
		margin: 0 auto;
		padding-bottom: 2em;
	}
}