@font-face {
    font-family: 'heeboregular';
    src: url('heebo-variablefont_wght-webfont.eot');
    src: url('heebo-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
         url('heebo-variablefont_wght-webfont.woff2') format('woff2'),
         url('heebo-variablefont_wght-webfont.woff') format('woff'),
         url('heebo-variablefont_wght-webfont.ttf') format('truetype'),
         url('heebo-variablefont_wght-webfont.svg#heeboregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/***************************************************************
Website: 
Author: Terry Price #0622422
Date: 

----------------------------------------------------------------
Colours
 
----------------------------------------------------------------
Font Styles

----------------------------------------------------------------
Contents
----------------------------------------------------------------
1.Body Styles
2.Heading Styles
3.Nav Styles
4.List Styles
5.Paragraph Styles
6.Section Styles
7.Img Styles
8.Misc Styles
***************************************************************/

/***************************************************************
*****BODY STYLES***********************************************/
body {
	font-family: 'heeboregular', arial sans-serif;
	font-size: 62.5%;
	background: linear-gradient(to bottom, #f5c78e 45%, #c9b69f 70%);
	background-attachment: fixed;
}
/***************************************************************
*****HEADING STYLES********************************************/
h1,h2,h3,h4 {
	display: block;
}

h1,h2 {
	display: block;
	padding: 1.5em 0;
}

h1 {
	font-size: 4em;
	text-align: center;
	margin-top: 3em;
}

h2 {
	font-size: 3.5em;
	text-align: center;
}

h3 {
	font-size: 3.5em;
	margin-left: 2em;
}

h4 {
	text-align: center;
	font-size: 3.5em;
}

/***************************************************************
*****NAV STYLES************************************************/
nav {
	display: block;
	background-color: black;
	width: 100%;
	position: relative;
	top: 0;
	z-index: 2;
	padding: 2em 0;
}

#mobilenav {
	display: none;
}

a:visited {
	color: grey;
}
/***************************************************************
*****LIST STYLES***********************************************/

nav ul {
	width: 100%;
	margin: 0 auto;
}

nav ul li {
	display: inline-block;
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
	z-index: 1;
	font-size: 2em;
}

nav li a {
	margin: 20px auto;
}
/***************************************************************
*****PARAGRAPH STYLES******************************************/
p {
	font-size: 2em;
}

footer > p {
	margin-top: 3em;
	position: relative;
	text-align: left;
	float: left;
	margin-left: 5%;
}
/***************************************************************
*****SECTION STYLES********************************************/
footer {
	border-top: 3px solid black;
	position: relative;
	width: 100%;
	height: auto;
}
/***************************************************************
*****IMG STYLES************************************************/

/***************************************************************
*****MISC STYLES***********************************************/


@media screen and (max-width: 480px) {
	#nav {
		display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: rgba(0,0,0,0.65);
        width: 100%;
        height: auto;
    }
    
    #nav li {
		width: 100%;
        padding: 10px 0;
        display: block;
        border: none;
        float: left; 
        clear: left; 
        
    }

	#nav ul {
		margin: 0;
		padding: 5px;
	}
	
	#nav ul li {
		margin-left: 10px;
		margin-bottom: 10px;
		padding: 10px;
	}
    
    #nav li:first-child {
        background-color: none;
        padding: 10px;

    }

    #nav li a {
        color: #0AACF8;
        font-weight: bold;
        font-size: 24px;
    }
    
    #nav {
        display: none;
    }

	#mobilenav {
        display: block;
        position: fixed;
		z-index: 2;
    }
    
    
    #navtoggle {
        color: #005AA0;
        text-decoration: none;
        font-size: 35px;
        margin-left: 20px;
        padding: 0;
        
    }
	
}